START
PUSHI 1
PUSHI 2
ADD
WRITEI
PUSHS "\n"
WRITES
PUSHI 1
PUSHI 2
MUL
WRITEI
PUSHS "\n"
WRITES
PUSHI 1
PUSHI 2
DIV
WRITEI
PUSHS "\n"
WRITES
PUSHI 1
PUSHI 2
SUB
WRITEI
PUSHS "\n"
WRITES
PUSHI 1
PUSHI 2
MOD
WRITEI
PUSHS "\n"
WRITES
PUSHF 1.0
PUSHF 2.0
FADD
WRITEF
PUSHS "\n"
WRITES
PUSHF 1.0
PUSHF 2.0
FMUL
WRITEF
PUSHS "\n"
WRITES
PUSHF 1.0
PUSHF 2.0
FDIV
WRITEF
PUSHS "\n"
WRITES
PUSHF 1.0
PUSHF 2.0
FSUB
WRITEF
PUSHS "\n"
WRITES
STOP
