PUSHI 0
PUSHI 0
START
PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
UNTIL1:
PUSHS "i = "
WRITES
PUSHGP
LOAD 0
WRITEI
PUSHS "\n"
WRITES
PUSHI 0
STOREG 1
UNTIL0:
PUSHS "    j = "
WRITES
PUSHGP
LOAD 1
WRITEI
PUSHS "\n"
WRITES
PUSHGP
LOAD 1
PUSHI 1
ADD
STOREG 1
PUSHGP
LOAD 1
PUSHI 10
SUPEQ
JZ UNTIL0
PUSHGP
LOAD 0
PUSHI 1
ADD
STOREG 0
PUSHGP
LOAD 0
PUSHI 10
SUPEQ
JZ UNTIL1
STOP
