START
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 1
MUL
MUL
MUL
MUL
ADD
ADD
ADD
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 1
MUL
MUL
MUL
MUL
ADD
ADD
ADD
ADD
WRITEI
PUSHF 1.0
PUSHF 2.0
FMUL
WRITEF
STOP
